input {
    padding-left: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    display: inline-block;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    box-sizing: border-box;
    width: 80%;
    max-width: 800px;
    margin: 10px;
    background-color: #FFFFFF
}

.drink {
	font-family: sans-serif;
	display: flex;
	flex-direction: column;	
	align-items: center; 
	background-color: rgba(0,0,0,.2);
	width: 40%;
	margin: 0 auto
}

.drink_inner {
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#name {
	font-weight: bold
}

.questions {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	margin-top: 20px;
	width: 80%;
	max-width: 800px;
}

.question {
	font-family: sans-serif;
	margin: 10px;
}
